<section id="home">
  <h1>Hiya</h1>
  <p>Web developer based in London</p>
  <p>Maybe I should link to some work here</p>
</section>
<section id="cv">
  <h1>CV</h1>
  <h3>Technology</h3>
  <p>ES6 JavaScript, Node.js, Express, PostgreSQL, CSS3, HTML5, Handlebars, Test-Driven Development, Continuous Integration with Travis, Git & Github</p>
  <h3>Education</h3>
    <li>Founders & Coders, 2017 - Full-Stack JavaScript Bootcamp</li>
    <li>University of Oxford, 2008-2012 - Masters in Chemistry (2.1)</li>
    <li>Westcliff High School for Girls, 2001-2008 - Physics, Music, Chemistry, Maths (A)</li>
  <h3>Experience</h3>
  <li><a href="https://foundersandcoders.com/">Founders & Coders</a>, 2017 - Full-Stack JavaScript Developer
  <p>F&C is a co-operative which runs a brilliant peer-led and project-based coding bootcamp. The course covers test-driven development, using a full JavaScript stack (JavaScript and Node.js) with relational databases, with aspects of design and project management thrown in too.</p></li>
  <li><a href="http://warppublishing.net">Warp Publishing</a>, 2015-2017 - Copyright Manager
  <p>Music Publishers can be thought of as record labels for songwriters. As Copyright Manager at the independent publisher Warp Publishing (sister of Warp Records) I looked after the compositional rights of writers' works and ensured that they were registered correctly globally at collection societies and digital platforms such as YouTube. This involved resolving counter and duplicate claims, tracking and analysing global income and fixing discrepancies at collection societies, digital service providers and sub-publishers to ensure full royalty payments. Copyright liaison for managers, writers, publishers, sub-publishers and full collection society network.
</p></li>
  <li><a href="http://www.hackneypirates.org/cafe/">Compass Coffee</a>, 2014-2017 - Co-Founder and Manager
  <p>I co-founded a zero-waste-to-landfill cafe that operates out of the pirate ship home of the Hackney Pirates, an educational charity. As a co-manager I did tons of stuff</p></li>
  <li>Universal Music</li>
  <li>FatCat Records</li>
  <li>Euphorium Bakery</li>
  <li>Ernst & Young</li>
  <li>BNY Mellon</li>
  <li>Choreography</li>
  <p>Basically a whole heap of other unnecessary experiences</p></li>
</section>
<section id="contact">
  <h1>Contact me</h1>
  <p>Here's my email address and my Github for stalking</p>
</section>
