<section id="home">
  <h1>Amélie Chan</h1>
  <p>Hiya</p>
  <p>Web developer based in London</p>
  <p>Maybe I should link to some work here</p>
</section>
<section id="cv">
  <h1>CV</h1>
  <h3>1-Technology</h3>
  <li>Client</li>
  <p>ES6 JavaScript, CSS3, HTML5</p>
  <li>Server</li>
  <p>Node.js, Express, PostgreSQL, Handlebars</p>
  <li>More</li>
  <p>Test-Driven Development, Continuous Integration with Travis, Git & Github</p>
  <h3>2-Education</h3>
    <li>Founders & Coders, 2017 - Full-Stack JavaScript Bootcamp</li>
    <li>University of Oxford, 2008-2012 - Masters in Chemistry (2.1)</li>
    <li>Westcliff High School for Girls, 2001-2008 - Physics, Music, Chemistry, Maths (A)</li>
  <h3>3-Experience</h3>
  <li><a class="cv__link" href="https://foundersandcoders.com/">Founders & Coders</a>, 2017 - Full-Stack JavaScript Developer
  <p>F&C is a co-operative that runs a brilliant peer-led and project-based coding bootcamp. The course covers test-driven development using a full JavaScript stack (JavaScript and Node.js) with relational databases, plus aspects of design and project management.</p></li>
  <li><a class="cv__link" href="http://warppublishing.net">Warp Publishing</a>, 2015-2017 - Copyright Manager
  <p>Music publishers can be thought of as record labels for songwriters. At Warp Publishing (sister company of Warp Records) I looked after the compositional rights of writers' works and ensured that they were registered correctly globally at collection societies and digital platforms such as YouTube. This involved resolving counter and duplicate claims, tracking and analysing global income and fixing discrepancies at collection societies, digital service providers and sub-publishers to ensure our writers got full royalty payments.
</p></li>
  <li><a class="cv__link" href="http://www.hackneypirates.org/cafe/">Compass Coffee</a>, 2014-2017 - Co-Founder and Manager
  <p>I co-founded a zero-waste-to-landfill cafe that operates out of the pirate ship home of the Hackney Pirates, an educational charity. As a co-manager I did tons of stuff</p></li>
  <li>Universal Music</li>
  <li>FatCat Records</li>
  <li>Euphorium Bakery</li>
  <li>Ernst & Young</li>
  <li>BNY Mellon</li>
  <li>Choreography</li>
  <p>Basically a whole heap of other unnecessary experiences</p></li>
</section>
<section id="contact">
  <h1>Contact</h1>
  <p><a class="contact__link" href="mailto:amelie.chan@gmail.com"><img class="contact__icon" src="/images/email.svg">Email</a></p>
  <p><a class="contact__link" href="https://www.github.com/ameliejyc"><img class="contact__icon" src="/images/github.svg">Stalk</a></p>
</section>
