<header class="navbar">
  <div class="navbar__container">
    <nav class="navbar__nav" role="navigation">
      <img class="navbar__icon" src="/images/arrow.svg">
        <ul class="navbar__list">
          <li class="navbar__item">
            <a class="navbar__link" href="/">HOME</a>
          </li>
          <li class="navbar__item">
            <a class="navbar__link" href="#cv">CV</a>
          </li>
          <li class="navbar__item">
            <a class="navbar__link" href="#contact">CONTACT</a>
          </li>
          <li class="navbar__item">
            <a class="navbar__link" href="/blog">BLOG</a>
          </li>
        </ul>
      </img>
    </nav>
  </div>
</header>
